<div id="login">
  <h1>Log In</h1>
  <%= form_for :sessioin do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="actions"><%= submit_tag "Log In" %></div>

      <div class="warning">Forgot your password? Contact <a href="mailto:daniela.grossmann@gmail.com">Admin</a> </div>
  <% end %>
</div>
