<div class="col">
  <%= form_for(repeating_meeting) do |f| %>
    <div class="form-group row">
      <label for="repeating-meeting-name" class="col-2 col-form-label">Name</label>
      <div class="col-12">
        <%= f.text_field :name, class: 'form-control', id: 'repeating-meeting-name' %>
      </div>
    </div>

    <div class="form-group">
      <label for="repeating-meeting-days">Days</label>
      <p class="help-text">Hold command for multi-select</p>
      <%= f.select(:days, @day_options.html_safe,
                   {},
                   { class: 'repeating-meeting-select form-control col-12',
                     id: 'repeating-meeting-days',
                     multiple: true }) %>
    </div>

    <div class="form-group row">
      <label for="repeating-meeting-start-time" class="col-2 col-form-label">Start time</label>
      <div class="col-12">
        <%= f.text_field :start_time, class: 'form-control', id: 'repeating-meeting-start-time', type: "time", value: repeating_meeting.start_time  %>
      </div>
    </div>


    <div class="form-group row">
      <label for="repeating-meeting-end-time" class="col-2 col-form-label">End time</label>
      <div class="col-12">
        <%= f.text_field :end_time, class: 'form-control', id: 'repeating-meeting-end-time', type: "time", value: repeating_meeting.end_time  %>
      </div>
    </div>

    <div class="form-group row">
      <label for="repeating-meeting-location" class="col-2 col-form-label">Location</label>
      <div class="col-12">
        <%= f.text_field :location, class: 'form-control', id: 'repeating-meeting-location' %>
      </div>
    </div>

    <div class="form-group row">
      <label for="repeating-meeting-description" class="col-2 col-form-label">Description</label>
      <div class="col-12">
        <%= f.text_field :description, class: 'form-control', id: 'repeating-meeting-description' %>
      </div>
    </div>


    <% if repeating_meeting.created_at.present? %>
      <div class="dates row">
        <div class="date col">Created at: <%= repeating_meeting.created_at.strftime('%d %b %y') %></div>
        <div class="date col">Updated at: <%= repeating_meeting.updated_at.strftime('%d %b %y') %></div>
        <div class="button col"><%= f.submit 'Save', class: "repeating-meeting-save-button btn btn-outline-primary btn-lg"%></div>
      </div>
    <%else%>
      <div class="dates row">
        <div class="date col"></div>
        <div class="date col"></div>
        <div class="button col"><%= f.submit 'Save', class: "repeating-meeting-save-button btn btn-outline-primary btn-lg"%></div>
      </div>
    <%end%>
  <%end%>

</div>
