<div class="info-pages faq col">
  <h4>Resources & FAQ</h4>
  <hr/>
  <% @questions.each_with_index do |question, index|%>
    <%if question.link_to_page.present? %>
      <%= link_to get_path(question) do%>
        <div class="question-answer-row row">
          <div class="col-1">
            <i class="material-icons">question_answer</i>
          </div>
          <div class="question col-4">
            <%= question.question %>
          </div>
          <div class="answer col">
            <%= question.answer %>
          </div>
        </div>
        <hr/>
      <%end%>
    <%else%>
      <div class="question-answer-row row">
        <div class="col-1">
          <i class="material-icons">question_answer</i>
        </div>
        <div class="question col-4">
          <%= question.question %>
        </div>
        <div class="answer col">
          <%= question.answer %>
        </div>
      </div>
      <hr/>
    <%end%>
  <%end%>
</div>

