<% max_shown = 5 %>
<div class="info-pages col card-view faq-resources"}>
  <div class="row"><h4>Resources & FAQ</h4></div>

  <div class="row">
    <div class="faq card col-5 res-faq" id="faq">
      <%= image_tag random_default_image, {alt: 'FAQ', class: 'card-img-top'} %>
      <div class="card-body">
        <h4 class="card-title">Frequently asked questions</h4>
        <p class="card-text">
          Find answers to many of your questions here.
          <span class="show-when-closed">Click on this card to see more.</span>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <% @questions.each_with_index do |question, index|%>
          <li class="list-group-item q-and-a <%=index >= max_shown ? 'hide-when-closed' : '' %>" >
            <div class='question'><%=question.question%></div>
            <div class="hide-when-closed answer">
              <%=question.question%>
              <% if question.link_to_page.present? %>
                <span class="hide-when-closed">
                  <%= link_to '[Read more here]', question.link_to_page %>
                </span>
              <%end%>
            </div>
          </li>
        <%end%>
      </ul>
      <% if @questions.length > max_shown %>
          <dev class="more">[...]</dev>
      <% end %>
    </div>

    <%@grouped_resources.each_with_index do |(category_id, resources), idx|%>
      <% category = resources.first.category%>
      <div class="res-cat-<%=category_id %> card col-5 res-faq" id="res-cat-<%=category_id %>">
        <% url = category.image_url ? category.image_url : random_default_image%>
        <%= image_tag url, {alt: category.name, class: 'card-img-top'} %>
        <div class="card-body">
          <h4 class="card-title"><%= category.name %></h4>
          <p class="card-text">
            <%= category.description %>
            <div class="show-when-closed">Click on this card to see more.</div>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <% resources.each_with_index do |resource, index|%>
            <li class="list-group-item resource <%=index >= max_shown ? 'hide-when-closed' : '' %>" >
              <% url = resource.url.match(/^https?:\/\//) ? resource.url : "http://#{resource.url}"%>
              <%= link_to url, target: '_blank' do %>
                <span class="link"><%=resource.title%></span>
              <%end%>
              <span class="description hide-when-closed"><%= resource.description%></span>
            </li>
          <%end%>
        </ul>
        <% if @questions.length > max_shown %>
          <dev class="more">[...]</dev>
        <% end %>
      </div>
    <%end%>
  </div>
</div>
