<div class="manage">
  <div class="row">
    <div class="col">
      <div class="card" id="media">
        <%= image_tag 'media.jpg', alt: 'Manage media', class: 'card-img-top'%>
        <div class="card-block">
          <h4 class="card-title">Manage media</h4>
          <p class="card-text highlight-card-text">Images</p>
        </div>
        <ul class="list-group list-group-flush">
          <% @all_image_types.each do |type| %>
              <li class="list-group-item">
                <i class="material-icons"><%=@sym[type]%></i>
                <%= link_to @image_types[type], manage_images_path(type == :all ? -1 : type) %>
              </li>
          <%end%>
        </ul>
        <div class="card-block">
          <p class="card-text highlight-card-text">Videos</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="material-icons"><%=@all_sym%></i>
            <%= link_to 'All Videos', manage_videos_path %>
          </li>
        </ul>
        <div class="card-block">
          <p class="card-text highlight-card-text">Photographers</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="material-icons"><%=@all_sym%></i>
            <%= link_to 'All Photographer', manage_photographers_path %>
          </li>
        </ul>
        <div class="card-block"></div>
      </div>
    </div>

    <div class="col">
      <div class="card" id="footer">
        <%= image_tag 'footer.jpg', alt: 'Manage media', class: 'card-img-top'%>
        <div class="card-block">
          <h4 class="card-title">Manage Page Content</h4>
          <p class="card-text highlight-card-text">FAQ and Resource Links</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="material-icons"><%=@all_sym%></i>
            <%= link_to 'All Questions and Ansers', manage_questions_path %>
          </li>
          <li class="list-group-item">
            <i class="material-icons">link</i>
            <%= link_to 'All Resources', manage_resources_path %>
          </li>
        </ul>
        <div class="card-block">
          <p class="card-text highlight-card-text">Categories (Tabs)</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="material-icons"><%=@all_sym%></i>
            <%= link_to 'All Categories', manage_categories_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card" id="user">
        <%= image_tag 'https://farm5.staticflickr.com/4428/36041634483_cfd6233ad0_k.jpg', alt: 'Manage user', class: 'card-img-top'%>
        <div class="card-block">
          <h4 class="card-title">Manage Social</h4>
          <p class="card-text highlight-card-text">User</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="material-icons"><%=@all_sym%></i>
            <%= link_to 'All Users', manage_users_path %>
          </li>
        </ul>
        <div class="card-block">
          <p class="card-text highlight-card-text">Events and Meetings</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="material-icons"><%=@all_sym%></i>
            <%= link_to 'All Meetings', manage_meetings_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
