<div class="col">
  <%= form_for(resource) do |f| %>

      <div class="form-group row">
        <label for="resource-title" class="col-2 col-form-label">Title</label>
        <div class="col-12">
          <%= f.text_field :title, class: 'form-control', id: 'resource-title' %>
        </div>
      </div>

      <div class="form-group row">
        <label for="resource-url" class="col-2 col-form-label">Url</label>
        <div class="col-12">
          <%= f.text_field :url, class: 'form-control', id: 'resource-url' %>
        </div>
      </div>

      <div class="form-group row">
        <label for="resource-description" class="col-2 col-form-label">Description</label>
        <div class="col-12">
          <%= f.text_area :description, class: 'form-control', id: 'resource-description' %>
        </div>
      </div>

      <div class="form-group row">
        <label for="resource-category" class="col-2 col-form-label">Category</label>
        <%= f.select(:category_id, Category.all.collect {|p| [ p.name, p.id ] },
                     {include_blank: "Select a category",
                      selected: resource && resource.category ? resource.category.id : nil},
                     { class: 'resource-select form-control col-9', id: 'resource-category' }) %>
        <div class="col-2">
          <span class="input-group">
            <span class="input-group-btn">
              <%= link_to 'Manage Category', manage_categories_path, class: 'manage-category btn btn-secondary', target: '_blank' %>
            </span>
          </span>
        </div>
      </div>

      <% if resource.created_at.present? %>
          <div class="dates row">
            <div class="date col">Created at: <%= resource.created_at.strftime('%d %b %y') %></div>
            <div class="date col">Updated at: <%= resource.updated_at.strftime('%d %b %y') %></div>
            <div class="button col"><%= f.submit 'Save', class: "photographer-save-button btn btn-outline-primary btn-lg"%></div>
          </div>
      <%else%>
          <div class="dates row">
            <div class="date col"></div>
            <div class="date col"></div>
            <div class="button col"><%= f.submit 'Save', class: "image-save-button btn btn-outline-primary btn-lg"%></div>
          </div>
      <%end%>
  <%end%>

</div>