<div class="col">
  <%= form_for(photographer) do |f| %>

      <div class="form-group row">
        <label for="photographer-name" class="col-2 col-form-label">Full Name</label>
        <div class="col-12">
          <%= f.text_field :full_name, class: 'form-control', id: 'photographer-name' %>
        </div>
      </div>

      <div class="form-group row">
        <label for="photographer-email" class="col-2 col-form-label">Contact email</label>
        <div class="col-12">
          <%= f.text_field :contact_email, class: 'form-control', id: 'photographer-email' %>
        </div>
      </div>

      <% if photographer.created_at.present? %>
          <div class="dates row">
            <div class="date col">Created at: <%= photographer.created_at.strftime('%d %b %y') %></div>
            <div class="date col">Updated at: <%= photographer.updated_at.strftime('%d %b %y') %></div>
            <div class="button col"><%= f.submit 'Save', class: "photographer-save-button btn btn-outline-primary btn-lg"%></div>
          </div>
      <%end%>


      <%if photographer.images.present?%>
          <h4><%=pluralize photographer.images.length, 'Image'%></h4>
          <p>Click to see details</p>
          <div class="row">
            <% photographer.images.each_with_index do |image, index| %>
                <% klasses = 'col-4 ' %>
                <div class="<%=klasses%>">
                  <%= link_to image_tag(image.url, alt: image.title, title: image.description), edit_image_path(image) %>
                </div>
            <%end%>
          </div>
      <%end%>

  <%end%>
</div>