<%= form_for(image) do |f| %>
    <% url = image.present? && image.url ? image.url : 'http://saveabandonedbabies.org/wp-content/uploads/2015/08/default.png' %>
    <% image = Image.new unless image.present? %>
    <div class="preview">
      <%= image_tag url, {class: 'preview-img'} %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :url, class: 'mdl-textfield__input', id: 'image-url' %>
      <label class="mdl-textfield__label" for="image-url">Image URL</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :title, class: 'mdl-textfield__input', id: 'image-title' %>
      <label class="mdl-textfield__label" for="image-title">Title</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

      <%= f.select(:photographer_id, Photographer.all.collect {|p| [ p.full_name, p.id ] }, {include_blank: "Select a photographer", selected: image.photographer.id}, { :class => 'my_style_class' }) %>
      <label class="mdl-textfield__label" for="image-photographer">Image Owner</label>

      <%= link_to 'Manage Photographer', manage_photographer_path %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label md-textarea-padding">
      <%= f.text_area :description, class: 'mdl-textfield__input', rows: "3", id:"image-description" %>
      <label class="mdl-textfield__label" for="image-description">Description</label>
    </div>

    <%= f.submit 'Save', class: "mdl-button mdl-js-button mdl-button--raised image-save-button"%>

<%end%>

<script>
  $(function () {

  });
</script>