<h4 class="mdl-dialog__title">
  Manage Images
</h4>
<div class="mdl-dialog__content">
  <table class="mdl-data-table mdl-js-data-table image-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric preview">Preview</th>
        <th class="mdl-data-table__cell--non-numeric url">URL</th>
        <th class="mdl-data-table__cell--non-numeric title">Title</th>
        <th class="mdl-data-table__cell--non-numeric photographer">(c)</th>
        <th class="mdl-data-table__cell--non-numeric description">Description</th>
        <th class="mdl-data-table__cell--non-numeric actions"></th>
      </tr>
    </thead>
    <tbody>
      <% if @images.present? %>
        <% @images.each do |image| %>
            <% url = image.url %>
            <tr class="view-<%=image.id%>">
              <td class="mdl-data-table__cell--non-numeric preview">
                <%= image_tag url, {alt: image.title, title: image.description, class: 'preview-img'} %>
              </td>
              <td class="mdl-data-table__cell--non-numeric url">
                <div title="<%= url %>"><%= url %></div>
              </td>
              <td class="mdl-data-table__cell--non-numeric title">
                <div title="<%= image.title %>"><%= image.title %></div>
              </td>
              <td class="mdl-data-table__cell--non-numeric photographer">
                <% initials = image.photographer ? User.initials(image.photographer) : '' %>
                <div title="<%= image.photographer %>"><%= initials %></div>
              </td>
              <td class="mdl-data-table__cell--non-numeric description">
                <div title="<%= image.description %>"><%= image.description %></div>
              </td>
              <td class="mdl-data-table__cell--non-numeric actions">
                <%= link_to image_path(image), method: :delete, class: "mdl-button mdl-js-button mdl-button--icon mdl-button--colored" do %>
                    <i class="material-icons">delete</i>
                <% end %>
                <%= link_to '', class: "mdl-button mdl-js-button mdl-button--icon mdl-button--colored edit-image", data: {image: image}  do %>
                    <i class="material-icons <%image.id%>">edit</i>
                <% end %>
              </td>
            </tr>
            <tr class="hide edit-<%=image.id%>">
              <%= render partial: "/images/form", locals: {image: image} %>
            </tr>
        <%end%>
        <tr class="hide new-image">
          <%= render partial: "/images/form", locals: {image: @image} %>
        </tr>
    <% else %>
        <tr><td colspan="6">No images yet. Add images by clicking the button.</td></tr>
      <%end%>
    </tbody>
  </table>
</div>
<div class="mdl-dialog__actions mdl-dialog__actions--full-width">
  <button type="button" class="mdl-button" id="add-new-image">New Image</button>
  <button type="button" class="mdl-button close">Close</button>
</div>

<script>
    (function() {
        'use strict';
        function handleRows(e, self, is_new) {
            e.preventDefault();

            if (is_new) {
                $('.new-image').toggle();
            } else {
                var $view = self.closest('tr');
                var id = $view.className.split('-')[1];
                $('.edit-'+id).toggle();
                $('.view-'+id).toggle();
            }
        }
        $('.edit-image').on('click', function(e) {
            handleRows(e, this);
        });
        $('.save-image').on('click', function(e) {
            handleRows(e, this);
        });
        $('#add-new-image').on('click', function(e) {
            handleRows(e, this, true);
        });
    }());
</script>