<div class="manage manage-images">
  <div class="row manage-title-row">
    <div class="col-2"></div>
    <div class="col-8 manage-titles">
      <h3 class="manage-header"><%= I18n.t("manage.images") %></h3>
      <h4 class="manage-subheader"><%= I18n.t("manage.#{@type}.header") %></h4>
    </div>
    <div class="col-2">
      <% if @type != 'all' %>
          <%= link_to manage_new_image_path(@type), class: "add-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fixed-add-button" do%>
              <i class="material-icons">add</i>
          <%end%>
      <% end %>
    </div>
  </div>

  <% if @images.present? %>
      <% @images.each do |image| %>
          <% url = image.url %>
          <div class="row image-item-row">
            <div class="col preview">
              <%= image_tag url, {alt: image.title, title: image.description, class: 'preview-img'} %>
            </div>
            <div class="col-8">
              <div class="row image-content">
                <div class="col-1 icon">
                  <i class="material-icons" title="<%= image.for_page %>"><%= image.for_page %></i>
                </div>

                <div class="col-9 title">
                  <div class="label">Title</div>
                  <div class="item" title="<%= image.title %>"><%= image.title %></div>
                </div>
                <div class="col-2 actions">
                  <%= link_to image_path(image), method: :delete, class: "mdl-button mdl-js-button mdl-button--icon mdl-button--colored" do %>
                      <i class="material-icons">delete</i>
                  <% end %>
                  <%= link_to edit_image_path(image), class: "mdl-button mdl-js-button mdl-button--icon mdl-button--colored edit-image"  do %>
                      <i class="material-icons <%image.id%>">edit</i>
                  <% end %>
                </div>
              </div>
              <div class="row image-content">
                <div class="col-1 photographer">
                  <% initials = image.photographer ? image.photographer.initials : 'n/a' %>
                  <div title="<%= image.photographer.full_name %>"><%= initials %></div>
                </div>
                <div class="col url">
                  <div class="label">Url</div>
                  <div class="item" title="<%= url %>"><%= url %></div>
                </div>
              </div>
              <div class="row image-content">
                <div class="col-1"></div>
                <div class="col description">
                  <div class="label">Description</div>
                  <div class="item" title="<%= image.description %>"><%= image.description %></div>
                </div>
              </div>
            </div>
          </div>
      <%end%>
  <% else %>
      <div class="col">No images saved yet.</div>
  <%end%>
</div>