<footer class="footer">
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <div class="navbar-brand">
        More Information
      </div>
      <div class="nav-item"><%= link_to 'FAQ', faq_path, class: 'nav-link' %></div>
      <div class="nav-item"><%= link_to 'Terms of Usage', terms_path, class: 'nav-link' %></div>
      <div class="nav-item"><%= link_to 'Credits', credits_path, class: 'nav-link' %></div>
    </div>
    <div class="col-3">
      <div class="navbar-brand">
        Members
      </div>
      <% unless params[:controller] == 'sessions'%>
          <% if logged_in? %>
              <div class="nav-item"><%= link_to "Log Out", login_path, class: 'nav-link' %></div>
          <% else %>
              <div class="nav-item"><%= link_to "Log Out", logout_path, method: :delete, class: 'nav-link' %></div>
          <% end %>
      <%end%>
    </div>
    <div class="col-1"></div>
  </div>
</footer>