<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      More Information
    </div>
    <ul class="mdl-mini-footer__link-list">
      <li><%= link_to 'FAQ', question_path %></li>
      <li><%= link_to 'Terms of Usage', terms_path %></li>
      <li><%= link_to 'Credits', credits_path %></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <div class="mdl-logo">
      Members
    </div>
    <ul class="mdl-mini-footer__link-list">
      <% unless params[:controller] == 'sessions'%>
        <% if logged_in? %>
          <li><%= link_to "Log Out", login_path %></li>
        <% else %>
            <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        <% end %>
      <%end%>
    </ul>
  </div>
</footer>